.input {
  margin-top: 30px;
  position: fixed;
  z-index: 20000;
  bottom: 50px;
  left: 0;
  right: 0;
}
.input #outlined-basic{
    outline-style: none;
    border: none;
    height: 20px;
    width: 300px;
}
.task{
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding-left: 20px;
    line-height: 40px;
    background-color: #e1f5fe;
    border-radius: 10px;
    border: solid 2px #b3e5fc;
    margin: 20px 0;
    transition: .2s ease;
}
.task:hover{
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.Task-title{
    font-size: 25px;
    font-weight: 600;
    color: #1565c0;
}
.task-detail{
    font-size: 15px;
    font-weight: 500;
    color: #424242;

}